kinect_cal_data/*.png
*.log
Thesis A LaTex/*.gz
Thesis A LaTex/*.aux
Thesis A LaTex/*.bbl
Thesis A LaTex/*.blg
Thesis A LaTex/*.fdb_latexmk
Thesis A LaTex/*.fls
Thesis A LaTex/*.lof
Thesis A LaTex/*.log
Thesis A LaTex/*.lot
Thesis A LaTex/*.toc
Thesis A LaTex/*.out
Thesis B LaTex/*.gz
Thesis B LaTex/*.aux
Thesis B LaTex/*.bbl
Thesis B LaTex/*.blg
Thesis B LaTex/*.fdb_latexmk
Thesis B LaTex/*.fls
Thesis B LaTex/*.lof
Thesis B LaTex/*.log
Thesis B LaTex/*.lot
Thesis B LaTex/*.toc
Thesis B LaTex/*.out
.vscode
ros2_ws/build
ros2_ws/install
ros2_ws/log
ros2_ws/assets/models/*
ros2_ws/web_app/frontend/node_modules/*