kinect_cal_data/*.png
*.log
Notes and Docs/Thesis A LaTex/*.gz
Notes and Docs/Thesis A LaTex/*.aux
Notes and Docs/Thesis A LaTex/*.bbl
Notes and Docs/Thesis A LaTex/*.blg
Notes and Docs/Thesis A LaTex/*.fdb_latexmk
Notes and Docs/Thesis A LaTex/*.fls
Notes and Docs/Thesis A LaTex/*.lof
Notes and Docs/Thesis A LaTex/*.log
Notes and Docs/Thesis A LaTex/*.lot
Notes and Docs/Thesis A LaTex/*.toc
Notes and Docs/Thesis A LaTex/*.out
Notes and Docs/Thesis C LaTex/*.gz
Notes and Docs/Thesis C LaTex/*.aux
Notes and Docs/Thesis C LaTex/*.bbl
Notes and Docs/Thesis C LaTex/*.blg
Notes and Docs/Thesis C LaTex/*.fdb_latexmk
Notes and Docs/Thesis C LaTex/*.fls
Notes and Docs/Thesis C LaTex/*.lof
Notes and Docs/Thesis C LaTex/*.log
Notes and Docs/Thesis C LaTex/*.lot
Notes and Docs/Thesis C LaTex/*.toc
Notes and Docs/Thesis C LaTex/*.out
.vscode
ros2_ws/build
ros2_ws/install
ros2_ws/log
ros2_ws/assets/models/*
ros2_ws/web_app/frontend/node_modules/*