kinect_cal_data/*.png
*.log
Thesis A LaTex/*.gz
Thesis A LaTex/*.aux
Thesis A LaTex/*.bbl
Thesis A LaTex/*.blg
Thesis A LaTex/*.fdb_latexmk
Thesis A LaTex/*.fls
Thesis A LaTex/*.lof
Thesis A LaTex/*.log
Thesis A LaTex/*.lot
Thesis A LaTex/*.toc
Thesis A LaTex/*.out
Thesis C LaTex/*.gz
Thesis C LaTex/*.aux
Thesis C LaTex/*.bbl
Thesis C LaTex/*.blg
Thesis C LaTex/*.fdb_latexmk
Thesis C LaTex/*.fls
Thesis C LaTex/*.lof
Thesis C LaTex/*.log
Thesis C LaTex/*.lot
Thesis C LaTex/*.toc
Thesis C LaTex/*.out
.vscode
ros2_ws/build
ros2_ws/install
ros2_ws/log
ros2_ws/assets/models/*
ros2_ws/web_app/frontend/node_modules/*